[Desktop Entry]
Version=0.11
Name=iCloud Numbers
GenericName=iCloud Numbers
Comment=iCloud Numbers
Type=Application
Categories=Office
Icon=icloud-numbers
Exec=icloud-for-linux --no-sandbox numbers
StartupWMClass=icloud-for-linux.numbers
